
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<!-- ======= Header ======= -->
<header id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Good-For-Moo</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        @*<div class="contact-link float-right">
                <a href="#contact" class="scrollto">Contact Us</a>
            </div>*@

    </div>
</header><!-- End #header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Unauthorized</h1>
        <h2>Error @ViewBag.Status</h2>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>WeBuild</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End #footer -->
